extends baseEmail

block content
  p Dear #{firstName}!
  p You have successfully deleted you account at Auth_OTP Web App. 
  p Do not worry about your data. We completed erease the data from our mongoDB databse!, 
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody

  p If you need any help so don't hesitate to contact me!
  p - Subhan Developer, 9625856643